<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <if condition='"text".equalsIgnoreCase(System.getenv("LOG_FORMAT"))'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{40} - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </else>
    </if>

    <logger name="io.debezium" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="com.snowplowanalytics" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
